@import 'components/header.scss';
@import 'components/footer.scss';
@import 'components/article.scss';

@mixin reset {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

* {
    @include reset;
}