#formulario {
    display:flex;
    flex-direction:column;
    align-items: center;
    margin: 10px;
}

div {
    margin:10px;
}

input, button {
    border-radius: 100px;
}

#enviar{
    margin: 10px;
    border-style:solid;
    background-color: greenyellow;
    color: black;
}

#reset{
    margin: 10px;
    border-style:solid;
    background-color: whitesmoke;
    color: black;
}

.texto{
    display:flex;
    flex-direction:column;
    align-items: center;
}