@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --primary: #7898FF;
    --secondary: #8E64C5;
    --app-grey: #F2F2F2;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
background: linear-gradient(110deg, var(--primary), var(--secondary));
height: 100vh;
}

h1{
  text-align: center;
  margin: 20px 0;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 80vw;
  margin: 0 auto;
  padding-block: 20px;
}

.tarjeta{
  background-color: white;
  border-radius: 7px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}

.ident {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nome {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.email {
  font-size: .6em;
}

.imgcard {
  border-radius: 10px;
  width: 100%;
  padding: 7px;
}
