@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background: url(img/background.jpg) center center no-repeat fixed;
    background-size: cover;
    font-family: Poppins, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;

}

h1 { 
    /* color: #FF247F; */
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    text-align: center;
}

.container {
    width: 500px;
}

fieldset {
    margin-bottom: 20px;
    padding: 10px;
}

input[type=text], input[type=date], select {
    background-color: #A5DFFF;
    border: none;
    height: 25px;
    font-family: Poppins, Helvetica, sans-serif;
}
input, select {
    margin-bottom: 10px;
}

.nome {
    display: flex;
    flex-direction: column;
}

.itens__item {
    display: flex;
    justify-self: space-between;
}

.itens__check {
    width: 35%;
}

.itens__qtd {
    width: 65%;
    display: flex;
    justify-content: space-around;
}

.outros {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: center;    
    margin-bottom: 10px;
}

button {
    height: 40px;
    background-color: #FF247F;
    color: white;
    border-radius: 5px;
    border: none;
    width: 200px;
    font-size: 1rem;
}

button[type=submit] {
    margin-right: 10px;
}

@media screen and (max-width:768px) {
    body { font-size: 10px }
    input[type=text], input[type=date], select { font-size: .7rem }    
    .container { width: 355px }    
    .itens__qtd input { width: 80% }
}