@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Poppis, Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100vw;
    background-color: #0A7029;
    color:honeydew;
    font-family: "Dancing Script", Arial, Helvetica, sans-serif;
    z-index: 99;
}

.header__title {
    font-size: 3em;
    text-align: center;
    text-shadow: 0 0 8px #000;
}

.content {
    position: relative;
    text-align: center;
    top: 80px;
    background-color: honeydew;
}

.content__title {
    padding-top: 50px;
}

.content__banner {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.banner__card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    box-shadow: 0 0 20px #0A7029;
}

.banner__card:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.card__img {
    position: absolute;
    top: 5px;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 50%;
}

.card__title {
    margin-top: 80px;
    z-index: 98;
    width: 100%;
    color: honeydew;
    text-shadow: 0 0 8px #000;
    font-family: "Dancing Script", Arial, Helvetica, sans-serif;
    font-size: 2em;
}

#curitiba {
    background: url(img/curitiba.png) center center no-repeat;
    background-size: cover;
}

#cabreuva {
    background: url(img/cabreuva.png) center center no-repeat;
    background-size: cover;
}

#campinas {
    background: url(img/campinas.png) center center no-repeat;
    background-size: cover;
}

.banner__card {
    background-color: #FEDE00;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: fixed;text-shadow: 0 0 8px #000;
    bottom: 0;
    height: 80px;
    width: 100vw;   
    background-color: #C8DF52;
}

.footer__card {
    display: flex;
    flex-direction: column;
    transition: .3s;
}

.footer__card:hover {
    transform: scale(1.5);
    margin-bottom: 20px;
}

.footer__devname {
    font-family: "Press Start 2P", 'Courier New', Courier, monospace;
    font-size: .5em;
    color: black;
    text-shadow: 0 0 8px #000;
}

.avatar {
    width: 55px;
    border-radius: 50%;
    margin-bottom: 2px;
    box-shadow: 0 0 8px #0A7029;
}

@media only screen and (max-width: 768px) {

    .header__title {
        font-size: 2em;
        text-shadow: 0 0 8px #000;
        padding: 15px;
    } 

    .content__banner {
        flex-wrap: wrap;
        gap: 40px;
    }

    .banner__card  {
        width: 120px;
        height: 120px;        
    }

    .card__title {
        font-size: 1.2em;
        margin-top: 50px;
    }

    .content__title {
        font-size: 1.2em;
    }

}