@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;

  font-family: Roboto, sans-serif;

  box-sizing: border-box;
}

body {
  display: flex;

  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
}

aside {
  display: flex;
  justify-content: center;

  width: 400px;
  height: 100%;

  padding-top: 20px;

  background-color: lightblue;
}

form {
  display: flex;
  flex-direction: column;
}

#btn-save {
  height: 35px;
  margin-top: 10px;
  background-color: #0267FF;
  color: white;
}

p {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: aqua;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 40px;
}

p::before{
  content: '';
  background: url(edit_24.png);
  position:absolute;
  width: 24px;
  height: 24px;
  top:5px;
  left:10px;
}