*{
    margin:0;
    box-sizing: border-box;
}

body{
    background: url("../img/wallpaperCabreuva.webp") no-repeat center center fixed;
    background-size: cover;  
}

.header {
    position:relative;
    top: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.952);
    padding: 10px 10px;
}

.title {
    font-family: 'Permanent Marker', cursive; 
    font-size: 35px;
    text-align: center;
    color:rgb(87, 238, 87);
}

.icon_logo{
    width: 40px;
    height: 40px;
    transition:0.3s;  
}

.mobile {
    display: none;
}

.icon_logo:hover{
    transform: scale(2);
    padding-top: 5px;
}

.main { 
    width: 100%; 
}
.textmain{
    position: relative;
    font-family: 'Dancing Script', cursive;
    width: 80%;
    color:white;
    margin:0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    text-shadow: black 0.1em 0.1em 0.1em;
    text-align: justify;
}

.destaque{
    color:rgb(1, 245, 1);
}

.video{
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.video iframe {
    width: 1080px; 
    height: 600px;
    padding: 0 20px;
}

h2{
    position: relative;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    text-shadow: black 0.1em 0.1em 0.1em;
    margin-top: 30px;
    color: white;
    font-size: 40px;
    text-align: center;
    z-index: 1;
}

.list{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: justify;
    font-family: 'Dancing Script', cursive;
    background-color:rgba(8, 8, 8, 0.603);
    padding: 10px;
    color: white;
    font-size: 25px;
    list-style:none;
    text-shadow: black 0.1em 0.1em 0.1em;
    width: 80%;
    z-index: 1;
}

.icons{
    position: relative;
    width: 80%;
    text-align: center;
    margin: 30px 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.icon{
    position: relative;
    width: 40px;
    height: 40px;
    margin:0 20px;
    text-align: center;
}

.footer{
    position:relative;
    width: 100vw;
    background-color:black; 
    padding: 10px;
}

.textfooter { 
    font-weight: 300; 
    text-align: center;
    overflow: hidden; 
    color: grey;
}

.textfooter a {
    font-weight: 400; 
    color: white; 
}

#form {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    font-family: 'Permanent Marker', cursive; 
    background-color: rgba(255, 255, 255, 0.3);
}

#form:target {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal{
    position:relative;
    width: 500px;
    height: 550px;
    background-color:honeydew;
    padding:30px;
    border-radius: 10px;
}

.required{
    color:red;
    font-weight: bold;
}

.formulario {
    display:flex;
    flex-direction: column;
}

input, select{
    font-family: 'Permanent Marker', cursive; 
    margin-bottom: 10px;
    height: 35px;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    border-radius: 10px;
}

input[type=checkbox], input[type=radio] {
    height: 25px;
}

.input_group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input_check {
    display: flex;
}

.input_check label {
    padding-left: 10px;
}

.cadastro{
    position:absolute;
    top:0;
    right: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    width:100px;
    text-decoration: none;
    color: honeydew;
}

.fechar{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(228, 24, 24);
    color:#fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
}

.buttons{
    display:flex;
    justify-content: stretch;
    gap: 10px;
}

.btn {
    font-family: 'Permanent Marker', cursive; 
    width: 100%;
    font-size: 1.2em ;
    height: 35px;
    border-radius: 10px;
    cursor:pointer;
}

#enviar {
    background-color: rgb(37, 182, 37);
    color:lavender;
}

#reset {
    background-color: rgb(136, 127, 4);
    color:lavender;
}

span {
    padding-top: 10px;
}

.eh:focus {
    background-color: rgba(93, 177, 72, 0.897);
}

.eh, .eh-2 {
    transition: .5s;
}

.eh:hover { 
    transform: scale(1.1);
}

.eh-2:hover { 
    transform: scale(1.5);
}

@media only screen and (max-width: 1080px) {

    .video iframe {
        width: 720px; 
        height: 400px;
    }    

}

@media only screen and (max-width: 720px) {
    .video iframe {
        width: 480px; 
        height: 260px;
    }    

}

@media only screen and (max-width: 480px) {
    .no-mobile {
        display: none;
    }

    .video iframe {
        width: 360px; 
        height: 200px;
    }

    .textmain, .list {
        font-size: 1.5em;
    }

    .cadastro{
        text-align: center;
        width: 60px;
        top:50%;
        transform: translate(0, -60%);
        right: 5px;
    }

    .modal{
        width: 350px;
        height: 540px;
        background-color:honeydew;
        padding:30px;
        border-radius: 10px;
    }

    #form {
        font-size: .8em;
    }
}