@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Helvetica, sans-serif;
    border: none;
    text-decoration: none;
}

body {
    background: url("img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-size:20px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background-color: rgba(80, 173, 48, 0.7);
    margin-bottom: 10px;
    padding: 10px 5px;
    width: 95%;
    border-radius: 0 20px 20px 0;
}

.header {
    position: fixed;
    top: 0;
    background-color: #50AD30;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.header__title {
    font-family: "Dancing Script", Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: white;
    text-shadow: black 0.1em 0.1em 0.3em;
}

.content {
    position: initial;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 80px;
    text-align: center;
}

.content__text {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 10px;
    text-align: center;
    color: #273114;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.content__text p {
    padding: 10px;
}

.content__video {
    margin-bottom: 10px;
}

.video {
    width: 535px;
    min-height: 300px;
}

.content__lista {
    text-align: center;
    font-size: 0.9rem;
    color: white;
    text-shadow: black 0.1em 0.1em 0.3em;
}

.content__subtitle {
    font-size: 2rem;
}

.fa {
    color: white;
}

.footer {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;;
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    background-color: #50AD30;
    text-shadow: black 0.1em 0.1em 0.3em;
}

.footer__social {
    display: flex;
    align-items: center;
    margin-right: 40px;
    transition-duration: .3s;    
}

.footer__social:hover {
    transform: scale(1.2);
}

.footer__descri {
    font-size: .8em;
    margin-left: 10px;
    color: #fff;
}

.cadastro-arrow {
    position: absolute;
    right: 120px;
    animation: destaque .5s 8 alternate ;
    transition-duration: .3s;
}

.cadastro {
    position: absolute;
    right: 10px;
    text-align: left;
    font-size: .8rem;
    text-decoration: none;
    color: #fff;
    width: 100px;
    transition-duration: .3s;

}

.cadastro.mobile {
    display: none;
    font-size: .8em;
    width: 120px;

}

.cadastro:hover, .cadastro:hover ~ .cadastro-arrow {
    font-weight: 600;
    transform: scale(1.1);
}

/* modal */
#form-page {
    display: none;
}

#form-page:target {
    display: flex;
}

.modal_container {
    display: flex;
    justify-content: center;
    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(255, 255, 255, 0.3);
}

.modal {
    position: relative;
    margin-top: 30px;
    width: 600px;
    height: 610px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: .8em;
}

.form_cadastro {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.input_group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
}


.form_cadastro input, .form_cadastro select {
    height: 40px;
    margin-bottom: 12px;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    padding-left: 10px;
    border: 1px solid rgba(80, 173, 48, 0.5)
}

input[type=checkbox], input[type=radio] {
    margin-left: 20px;
    cursor: pointer;
}

input[type=checkbox] + label, input[type=radio] + label {
    cursor: pointer;
}

input[type=checkbox]:nth-child(1), input[type=radio]:nth-child(1) {
    margin-left: 0;
}

.close {
    position: absolute;
    right: 10px;
    top: 8px;
    background-color: rgba(250, 22, 6, 0.7);
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: .8em;
}

.buttons {
    display: flex;
    justify-content: stretch;
    gap: 15px;
}

.btn {
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.btn-submit {
    background-color: rgba(80, 173, 48, 0.7);
}

.btn-reset {
    background-color: rgba(180, 180, 180, 0.7);
}

.eh, .eh-2 {
    transition: .5s;
}

.eh:hover { 
    transform: scale(1.1);
}

.eh-2:hover { 
    transform: scale(1.5);
}

@keyframes destaque {
    from {transform: translateX(0px)}
    to {transform: translateX(-15px)}
}

/*media screen tratamentos*/
@media only screen and (max-width: 650px) {
    .footer__descri {
        display: none;
    }

    .cadastro.mobile {
        display: block;
    }

    .cadastro.desktop, .cadastro-arrow {
        display: none;
    }
}

@media only screen and (max-width: 499px) {
    .content {
        width: 550px;
    }

    .modal {
        max-width: 90%;
        height: 720px;
    }

    .input_group {
        display: block;
    }
    
    .input_item {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80px;
    } 
}

