@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a{ 
    color: #CCE7F2;
    text-shadow: 1px 1px 2px #000;
    transform: scale(1.1);
}

a:hover {
    text-shadow: 3px 3px 5px #000;
    color: #fff;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background-color: #8EA1A9;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #01212B;
    height: 50px;
    z-index: 10;
}

.menu {
    display: flex;
    color: #fff;
    gap: 40px;
    padding-right: 20px;
}



.banner {
    position: relative;
    background: url(img/banner.jpg) center center fixed no-repeat;
    background-size: cover;
    height: calc(100vh - 50px);
}

.banner__text {
    position: absolute;
    bottom: 50px;
    left: 25px;
    font-size: 45px;
    color: #fff;
    text-shadow: 3px 3px 8px #000;
}

.content {
    display: flex;
    justify-content: space-around;
}

.content__card {
    position: relative;
    background-color: #fff;
    margin: 10px;
    padding: 30px;
    color: #01212B;
}

h2 {
    color: #023B52;
}

.more {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: .7rem;
    background-color: #023B52;
    color: #fff;
    padding: 5px 10px;
    text-shadow: 1px 1px 2px #000;
    box-shadow: 0 0 5px #035476;
    transition-duration: .3s;
}

.more:hover {
    transform: scale(1.1);
    cursor: pointer;
}