body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

fieldset {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* width: 30%; */
}

input {
    height: 30px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

p {
    background-color: #ccc;
    color: black;
    height: 20px;
    padding: 20px 5px;
    font-family: monospace;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

li {
    width: 200px;
}

#send {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
#send:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
#send:active {
	position:relative;
	top:1px;
}